:root {
	--mainColor: #121212;
	--darkreader-bg--mainColor: #121212;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1s;
}

.main {
	width: auto;
	display: flex;
	flex-direction: column;
	background-color: var(--mainColor);
	background-color: var(--darkreader-bg--mainColor);
	border: solid var(--mainColor);
	border-width: 35px 35px;
	border-radius: 20px;
}

img {
	max-width: 400px;
	border-radius: 20px;
}

.break {
	height: 35px;
}

@media (min-width: 600px) {
    .main {
        border-width: 20px;
        border-radius: 15px;
    }
}

@media (min-width: 900px) {
    .main {
        border-width: 30px;
        border-radius: 20px;
    }
}
